h1 {
	font-weight: bold;
	font-size: 30;
}

body {
	font-size: 18;
}

img {
	border: 5px gray;
}

.title {
	font-weight: bold;
	font-size: 26;
}

.issuetitle {
	font-weight: bold;
}

.severity {
	font-weight: bold;
	color: red;
}

